<ion-content [fullscreen]="true">
  <div id="container" class="background">
    <div class="bg-primary"></div>
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center" style="margin: 60px auto;"> <br>
              <h1 style="margin-bottom: 0; color: white; font-weight: 500; font-size: 40px;">MyPotholes</h1>
              <p style="font-size: 11px; color: whitesmoke">v1.0</p>
            </div>
            <ion-card>
              <ion-card-content>
                <ion-card-title color="primary" class="login-title">Daftar Masuk</ion-card-title>
                <ion-row>
                  <ion-col size="12">
                    <ion-label>E-mel</ion-label>
                    <ion-item>
                      <ion-icon name="bookmark-outline" slot="end"></ion-icon>
                      <ion-input type="email" placeholder="Emel Anda" formControlName="email" required></ion-input>
                    </ion-item>
                    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                      <span *ngIf="email.errors?.required">Emel diperlukan</span>
                      <span *ngIf="email.errors?.email">Emel tidak sah</span>
                    </div>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>Kata Laluan</ion-label>
                    <ion-item>
                      <ion-input id="logpass" type="{{showPass ? 'password' : 'text' }}" placeholder="Kata Laluan"
                        formControlName="password" required>
                      </ion-input>
                      <ion-icon slot="end" name="{{showPass ? 'eye-outline' : 'eye-off-outline' }}"
                        (click)='hideShowPassword()'></ion-icon>
                    </ion-item>
                    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                      <span *ngIf="password.errors?.required">Kata laluan diperlukan</span>
                      <span *ngIf="password.errors?.minlength">Kata laluan mestilah lebih 8 patah perkataan <br></span>
                    </div>
                  </ion-col>
                </ion-row>
                <div padding>
                  <ion-button mode="ios" size="medium" type="submit" expand="block" [disabled]="credentials.invalid">Log
                    Masuk</ion-button>
                  <br>
                  <div class="ion-text-center">
                    <ion-router-link color="primary" (click)="openForgotPass()">Lupa Kata Laluan?</ion-router-link>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <style>
        .scroll-content {
          padding-bottom: 0 !important;
        }
      </style>
      <div class="no-account" style="padding-top: 70px;">
        <span color="medium">Tiada akaun?</span>
        <ion-router-link color="primary" (click)="openRegister()">&nbsp;Daftar Sekarang
        </ion-router-link>
      </div>
    </form>
  </div>
</ion-content>
